<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-
<plist version="1.0">
<dict>
	<key>changeKey</key>
	<dict>
		<key>threerClose</key>
		<string>threerClose</string>
		<key>manyoWideShouldshowbannerforremotelycompletedchallenge</key>
		<string>manyoWideShouldshowbannerforremotelycompletedchallenge</string>
		<key>automatichSelect</key>
		<string>automatichSelect</string>
		<key>hAddtargetwithhandler</key>
		<string>hAddtargetwithhandler</string>
		<key>actioncEndeavor</key>
		<string>actioncEndeavor</string>
		<key>sortingRam</key>
		<string>sortingRam</string>
		<key>directlyhTwiceContainerviewwilllayoutsubviews</key>
		<string>directlyhTwiceContainerviewwilllayoutsubviews</string>
		<key>kContainerviewwilllayoutsubviews</key>
		<string>kContainerviewwilllayoutsubviews</string>
		<key>towindowContentsareflipped</key>
		<string>towindowContentsareflipped</string>
		<key>instantInitwithcicolor</key>
		<string>instantInitwithcicolor</string>
		<key>inspectLinefragmentrectforglyphatindex</key>
		<string>inspectLinefragmentrectforglyphatindex</string>
		<key>followingfWarnInitwithsessionid</key>
		<string>followingfWarnInitwithsessionid</string>
		<key>replaceableRemoveanchor</key>
		<string>replaceableRemoveanchor</string>
		<key>overrideAffect</key>
		<string>overrideAffect</string>
		<key>stringssAcceptconnectionfrompeer</key>
		<string>stringssAcceptconnectionfrompeer</string>
		<key>appropriateAddfilterpredicate</key>
		<string>appropriateAddfilterpredicate</string>
		<key>branchpClockwiseInitwithfilepresenter</key>
		<string>branchpClockwiseInitwithfilepresenter</string>
		<key>nReloadweightsandbiaseswithcommandbuffer</key>
		<string>nReloadweightsandbiaseswithcommandbuffer</string>
		<key>presentedTool</key>
		<string>presentedTool</string>
		<key>productiRecordRenderer</key>
		<string>productiRecordRenderer</string>
		<key>baduRelative</key>
		<string>baduRelative</string>
		<key>partitionEvery</key>
		<string>partitionEvery</string>
		<key>applicationDay</key>
		<string>applicationDay</string>
		<key>clockwiseAccessorydiddisconnect</key>
		<string>clockwiseAccessorydiddisconnect</string>
		<key>eventHigher</key>
		<string>eventHigher</string>
		<key>thewithtitlePrepare</key>
		<string>thewithtitlePrepare</string>
		<key>uGradientfilterswithsource</key>
		<string>uGradientfilterswithsource</string>
		<key>jSettilebuffer</key>
		<string>jSettilebuffer</string>
		<key>buildeSubsetSetvertexbuffer</key>
		<string>buildeSubsetSetvertexbuffer</string>
		<key>leastSetvertexsamplerstates</key>
		<string>leastSetvertexsamplerstates</string>
		<key>shouldwithnotSetpurgeablestate</key>
		<string>shouldwithnotSetpurgeablestate</string>
		<key>differentAppropriate</key>
		<string>differentAppropriate</string>
		<key>temporaryDo</key>
		<string>temporaryDo</string>
		<key>thatwithrequestVolumethumbrectforbounds</key>
		<string>thatwithrequestVolumethumbrectforbounds</string>
		<key>kTouchesbegan</key>
		<string>kTouchesbegan</string>
		<key>stringAboveboard</key>
		<string>stringAboveboard</string>
		<key>upperModification</key>
		<string>upperModification</string>
		<key>wAngularvelocityforitem</key>
		<string>wAngularvelocityforitem</string>
		<key>buttonreturnOverall</key>
		<string>buttonreturnOverall</string>
		<key>announceExecuteasyncwithsourceimages</key>
		<string>announceExecuteasyncwithsourceimages</string>
		<key>hRemovefromsuperlayer</key>
		<string>hRemovefromsuperlayer</string>
		<key>uConstraintequaltoanchor</key>
		<string>uConstraintequaltoanchor</string>
		<key>messageImageforcommandbuffer</key>
		<string>messageImageforcommandbuffer</string>
		<key>internalbBrownBeginscope</key>
		<string>internalbBrownBeginscope</string>
		<key>stringssLexical</key>
		<string>stringssLexical</string>
		<key>aRendercommandencoderwithdescriptor</key>
		<string>aRendercommandencoderwithdescriptor</string>
		<key>reappearAzimuthunitvectorinview</key>
		<string>reappearAzimuthunitvectorinview</string>
		<key>calculationhForegroundSetsamplepositions</key>
		<string>calculationhForegroundSetsamplepositions</string>
		<key>nsfilereadPast</key>
		<string>nsfilereadPast</string>
		<key>oDiscardcontentifpossible</key>
		<string>oDiscardcontentifpossible</string>
		<key>filetInterpretLayoutsublayersoflayer</key>
		<string>filetInterpretLayoutsublayersoflayer</string>
		<key>mSetviewport</key>
		<string>mSetviewport</string>
		<key>generationDevice</key>
		<string>generationDevice</string>
		<key>responseStopanimating</key>
		<string>responseStopanimating</string>
		<key>recentbEdit</key>
		<string>recentbEdit</string>
		<key>gSetconnectionstate</key>
		<string>gSetconnectionstate</string>
		<key>userinfovalueInitwithgradientimages</key>
		<string>userinfovalueInitwithgradientimages</string>
		<key>ratherLayoutmanagerdidinvalidatelayout</key>
		<string>ratherLayoutmanagerdidinvalidatelayout</string>
		<key>appliedConstraintequaltoanchor</key>
		<string>appliedConstraintequaltoanchor</string>
		<key>nowithspecialConvertpoint</key>
		<string>nowithspecialConvertpoint</string>
		<key>armkLarge</key>
		<string>armkLarge</string>
		<key>giveDiscussion</key>
		<string>giveDiscussion</string>
		<key>likeModification</key>
		<string>likeModification</string>
		<key>cIndexespassingtest</key>
		<string>cIndexespassingtest</string>
		<key>disregardoQuick</key>
		<string>disregardoQuick</string>
		<key>consultsRecursive</key>
		<string>consultsRecursive</string>
		<key>winchesterScrollrecttovisible</key>
		<string>winchesterScrollrecttovisible</string>
		<key>fromwindowMotionended</key>
		<string>fromwindowMotionended</string>
		<key>gDecreasesize</key>
		<string>gDecreasesize</string>
		<key>vIscompatiblewithunit</key>
		<string>vIscompatiblewithunit</string>
		<key>avoidResignfirstresponder</key>
		<string>avoidResignfirstresponder</string>
		<key>eventuallyyIndefinitely</key>
		<string>eventuallyyIndefinitely</string>
		<key>floatingStartanimating</key>
		<string>floatingStartanimating</string>
		<key>undomanagerUnmarktext</key>
		<string>undomanagerUnmarktext</string>
		<key>attachedIntense</key>
		<string>attachedIntense</string>
		<key>patterneGeneration</key>
		<string>patterneGeneration</string>
		<key>cyberneticstLayoutInitwithblendshapes</key>
		<string>cyberneticstLayoutInitwithblendshapes</string>
		<key>practiceuRetryAddtabstop</key>
		<string>practiceuRetryAddtabstop</string>
		<key>consultsIndexinrange</key>
		<string>consultsIndexinrange</string>
		<key>comparePrefix</key>
		<string>comparePrefix</string>
		<key>returnsEnumeraterangesusingblock</key>
		<string>returnsEnumeraterangesusingblock</string>
		<key>jArraytype</key>
		<string>jArraytype</string>
		<key>specifiesEnsurelayoutfortextcontainer</key>
		<string>specifiesEnsurelayoutfortextcontainer</string>
		<key>avoidRemovefromsuperlayer</key>
		<string>avoidRemovefromsuperlayer</string>
		<key>whiteSendremindertoparticipants</key>
		<string>whiteSendremindertoparticipants</string>
		<key>boldfaceRestart</key>
		<string>boldfaceRestart</string>
		<key>appliedActionforlayer</key>
		<string>appliedActionforlayer</string>
		<key>layoutWillmovetoanimator</key>
		<string>layoutWillmovetoanimator</string>
		<key>tEnsureattributesarefixedinrange</key>
		<string>tEnsureattributesarefixedinrange</string>
		<key>gIscontentdiscarded</key>
		<string>gIscontentdiscarded</string>
		<key>dTouchesbegan</key>
		<string>dTouchesbegan</string>
		<key>iRemovetarget</key>
		<string>iRemovetarget</string>
		<key>uniqueStar</key>
		<string>uniqueStar</string>
		<key>increasesizeAssembler</key>
		<string>increasesizeAssembler</string>
		<key>cornervFarAddacceptabletypeidentifiers</key>
		<string>cornervFarAddacceptabletypeidentifiers</string>
		<key>defaultFundamental</key>
		<string>defaultFundamental</string>
		<key>mouseDemonstration</key>
		<string>mouseDemonstration</string>
		<key>tTemporaryresultstatebatchforcommandbuffer</key>
		<string>tTemporaryresultstatebatchforcommandbuffer</string>
		<key>jRemoveitem</key>
		<string>jRemoveitem</string>
		<key>ySetcurrentsubscription</key>
		<string>ySetcurrentsubscription</string>
		<key>notwithpresentMakekeywindow</key>
		<string>notwithpresentMakekeywindow</string>
		<key>equalrAttentionGradientfilterwithsources</key>
		<string>equalrAttentionGradientfilterwithsources</string>
		<key>nullablensurlEnd</key>
		<string>nullablensurlEnd</string>
		<key>gPresentfromrect</key>
		<string>gPresentfromrect</string>
		<key>selectednFilter</key>
		<string>selectednFilter</string>
		<key>turnkeyeEnding</key>
		<string>turnkeyeEnding</string>
		<key>idletimerTouchesestimatedpropertiesupdated</key>
		<string>idletimerTouchesestimatedpropertiesupdated</string>
		<key>uLoadrequest</key>
		<string>uLoadrequest</string>
		<key>behaviorPresentationtransitiondidend</key>
		<string>behaviorPresentationtransitiondidend</string>
		<key>appendyTroubleRegisterimage</key>
		<string>appendyTroubleRegisterimage</string>
		<key>keywindowContentitemforidentifier</key>
		<string>keywindowContentitemforidentifier</string>
		<key>guideAccessorybrowser</key>
		<string>guideAccessorybrowser</string>
		<key>beforeEnumeraterangeswithoptions</key>
		<string>beforeEnumeraterangeswithoptions</string>
		<key>whereasRemoveobserver</key>
		<string>whereasRemoveobserver</string>
		<key>mNewcommandqueue</key>
		<string>mNewcommandqueue</string>
		<key>hardiLeft</key>
		<string>hardiLeft</string>
		<key>receiverDidmodifyrange</key>
		<string>receiverDidmodifyrange</string>
		<key>cleanDrawbackgroundforglyphrange</key>
		<string>cleanDrawbackgroundforglyphrange</string>
		<key>deternQuietly</key>
		<string>deternQuietly</string>
		<key>experienceRecoverable</key>
		<string>experienceRecoverable</string>
		<key>oFirstunlaidcharacterindex</key>
		<string>oFirstunlaidcharacterindex</string>
		<key>unlockfLogger</key>
		<string>unlockfLogger</string>
		<key>grantPossibility</key>
		<string>grantPossibility</string>
		<key>uSessioninterruptionended</key>
		<string>uSessioninterruptionended</string>
		<key>titlesLocalplayerdidselectchallenge</key>
		<string>titlesLocalplayerdidselectchallenge</string>
		<key>tDrawstrikethroughforglyphrange</key>
		<string>tDrawstrikethroughforglyphrange</string>
		<key>iInitwithparentimage</key>
		<string>iInitwithparentimage</string>
		<key>tocontentsStartanimating</key>
		<string>tocontentsStartanimating</string>
		<key>lInitwithcgimage</key>
		<string>lInitwithcgimage</string>
		<key>iBlitcommandencoder</key>
		<string>iBlitcommandencoder</string>
		<key>finderClose</key>
		<string>finderClose</string>
		<key>resultingOccupy</key>
		<string>resultingOccupy</string>
		<key>sendeventTopic</key>
		<string>sendeventTopic</string>
		<key>kInsertsublayer</key>
		<string>kInsertsublayer</string>
		<key>usefulbReplace</key>
		<string>usefulbReplace</string>
		<key>protectioniWork</key>
		<string>protectioniWork</string>
		<key>instanceastheCalling</key>
		<string>instanceastheCalling</string>
		<key>implementorsDetail</key>
		<string>implementorsDetail</string>
		<key>formationAllocate</key>
		<string>formationAllocate</string>
		<key>dInvalidate</key>
		<string>dInvalidate</string>
		<key>matchNormal</key>
		<string>matchNormal</string>
		<key>personalfRestart</key>
		<string>personalfRestart</string>
		<key>gatherEnumeraterangeswithoptions</key>
		<string>gatherEnumeraterangeswithoptions</string>
		<key>bracketSetqueuewithquery</key>
		<string>bracketSetqueuewithquery</string>
		<key>tapeTrue</key>
		<string>tapeTrue</string>
		<key>searchInitwithplacemark</key>
		<string>searchInitwithplacemark</string>
		<key>transformuNumberPointertype</key>
		<string>transformuNumberPointertype</string>
		<key>foregroundSuggestion</key>
		<string>foregroundSuggestion</string>
		<key>hInitwithred</key>
		<string>hInitwithred</string>
		<key>predictSynchronizetexture</key>
		<string>predictSynchronizetexture</string>
		<key>finalyTranslateUpdatefromplanegeometry</key>
		<string>finalyTranslateUpdatefromplanegeometry</string>
		<key>fCheckaccessstatuswithoptions</key>
		<string>fCheckaccessstatuswithoptions</string>
		<key>qRemovealldebugmarkers</key>
		<string>qRemovealldebugmarkers</string>
		<key>dCommit</key>
		<string>dCommit</string>
		<key>encounterqCycle</key>
		<string>encounterqCycle</string>
		<key>errorkeyProjectionmatrixfororientation</key>
		<string>errorkeyProjectionmatrixfororientation</string>
		<key>kInitwithuser</key>
		<string>kInitwithuser</string>
		<key>repetitivevOutputInvalidatesupplementaryelementsofkind</key>
		<string>repetitivevOutputInvalidatesupplementaryelementsofkind</string>
		<key>implementationwithpicksDestinationimagedescriptorforsourceimages</key>
		<string>implementationwithpicksDestinationimagedescriptorforsourceimages</string>
		<key>handlewIndicatorResignfirstresponder</key>
		<string>handlewIndicatorResignfirstresponder</string>
		<key>toolConsidered</key>
		<string>toolConsidered</string>
		<key>zInitwithspokenphrase</key>
<string>zInitwithspokenphrase</string>
<key>whereasExpunge</key>
<string>whereasExpunge</string>
<key>socketvCertaintyWillmovetoanimator</key>
<string>socketvCertaintyWillmovetoanimator</string>
<key>listsLoadmatchdatawithcompletionhandler</key>
<string>listsLoadmatchdatawithcompletionhandler</string>
<key>centerRemark</key>
<string>centerRemark</string>
<key>optionserrorkeyResignfirstresponder</key>
<string>optionserrorkeyResignfirstresponder</string>
<key>loadingSuspend</key>
<string>loadingSuspend</string>
<key>whichFile</key>
<string>whichFile</string>
<key>tweakedIncreasesize</key>
<string>tweakedIncreasesize</string>
<key>scatteryRestructure</key>
<string>scatteryRestructure</string>
<key>descendlCustomizeStopcapture</key>
<string>descendlCustomizeStopcapture</string>
<key>optionsNewargumentencoderforbufferatindex</key>
<string>optionsNewargumentencoderforbufferatindex</string>
<key>ratherElementarraytype</key>
<string>ratherElementarraytype</string>
<key>habituAllyConstraintequaltoconstant</key>
<string>habituAllyConstraintequaltoconstant</string>
<key>minimumsAbility</key>
<string>minimumsAbility</string>
<key>negativeGetfirstunlaidcharacterindex</key>
<string>negativeGetfirstunlaidcharacterindex</string>
<key>functionfClean</key>
<string>functionfClean</string>
<key>qAppendaudiosamplebuffer</key>
<string>qAppendaudiosamplebuffer</string>
<key>wNewcapturescopewithdevice</key>
<string>wNewcapturescopewithdevice</string>
<key>canresignInsertdebugcaptureboundary</key>
<string>canresignInsertdebugcaptureboundary</string>
<key>phonesAdministrator</key>
<string>phonesAdministrator</string>
<key>fileqUndoneGradientfilterswithsource</key>
<string>fileqUndoneGradientfilterswithsource</string>
<key>descriptionTemplate</key>
<string>descriptionTemplate</string>
<key>canonicalConnecttopeer</key>
<string>canonicalConnecttopeer</string>
<key>entireChoose</key>
<string>entireChoose</string>
<key>widelyoAvailableUpdatefromplanegeometry</key>
<string>widelyoAvailableUpdatefromplanegeometry</string>
<key>cResultstatebatchforsourceimage</key>
<string>cResultstatebatchforsourceimage</string>
<key>delegateSpread</key>
<string>delegateSpread</string>
<key>strikeNegate</key>
<string>strikeNegate</string>
<key>inquirypUnmarkedCancelconnecttopeer</key>
<string>inquirypUnmarkedCancelconnecttopeer</string>
<key>formPlayerswithconnectionstate</key>
<string>formPlayerswithconnectionstate</string>
<key>eResourceatindex</key>
<string>eResourceatindex</string>
<key>additionallyTask</key>
<string>additionallyTask</string>
<key>easilyWell</key>
<string>easilyWell</string>
<key>subsequentHang</key>
<string>subsequentHang</string>
<key>vBecomekeywindow</key>
<string>vBecomekeywindow</string>
<key>daybEqually</key>
<string>daybEqually</string>
<key>requestswitforReload</key>
<string>requestswitforReload</string>
<key>responseBasic</key>
<string>responseBasic</string>
<key>nAddscriptmessagehandler</key>
<string>nAddscriptmessagehandler</string>
<key>aStop</key>
<string>aStop</string>
<key>gInitwithsession</key>
<string>gInitwithsession</string>
<key>machineSetqueuewithquery</key>
<string>machineSetqueuewithquery</string>
<key>fromfRespectivelySharingviewcontroller</key>
<string>fromfRespectivelySharingviewcontroller</string>
<key>yellowShow</key>
<string>yellowShow</string>
<key>transportableSetdatareceivehandler</key>
<string>transportableSetdatareceivehandler</string>
<key>decideResignfirstresponder</key>
<string>decideResignfirstresponder</string>
<key>wNewcapturescopewithdevice</key>
<string>wNewcapturescopewithdevice</string>
<key>wSetconstantvalue</key>
<string>wSetconstantvalue</string>
<key>slidepLet</key>
<string>slidepLet</string>
<key>vHandlerforintent</key>
<string>vHandlerforintent</string>
<key>xParticipantquitoutofturnwithoutcome</key>
<string>xParticipantquitoutofturnwithoutcome</string>
<key>fileRestriction</key>
<string>fileRestriction</string>
<key>kInitwithcgcolor</key>
<string>kInitwithcgcolor</string>
<key>argumentPublic</key>
<string>argumentPublic</string>
<key>tocachingFindplayersforhostedrequest</key>
<string>tocachingFindplayersforhostedrequest</string>
	</dict>
	<key>changeProperty</key>
	<dict>
		<key>redoingf</key>
		<string>redoingf</string>
		<key>boperationGroupID</key>
		<string>boperationGroupID</string>
		<key>onDemandEnabledJ</key>
		<string>onDemandEnabledJ</string>
		<key>queryNotificationReason</key>
		<string>queryNotificationReason</string>
		<key>wantsAdaptiveSubdivisionBK</key>
		<string>wantsAdaptiveSubdivisionBK</string>
		<key>LightRequestwithequality</key>
		<string>LightRequestwithequality</string>
		<key>moreComingTJ</key>
		<string>moreComingTJ</string>
		<key>symbology</key>
		<string>symbology</string>
		<key>databaseSnapshotRL</key>
		<string>databaseSnapshotRL</string>
		<key>oresults</key>
		<string>oresults</string>
		<key>drawableMultisampleDI</key>
		<string>drawableMultisampleDI</string>
		<key>destinationContextZB</key>
		<string>destinationContextZB</string>
		<key>emittingDirectionn</key>
		<string>emittingDirectionn</string>
		<key>centerCoordinateSV</key>
		<string>centerCoordinateSV</string>
		<key>EarlyAsthe</key>
		<string>EarlyAsthe</string>
		<key>stampdatabaseObject</key>
		<string>stampdatabaseObject</string>
		<key>anchorAOK</key>
		<string>anchorAOK</string>
		<key>notificationInfoGP</key>
		<string>notificationInfoGP</string>
		<key>TeachHavewithpermission</key>
		<string>TeachHavewithpermission</string>
		<key>lrenamingIdentifier</key>
		<string>lrenamingIdentifier</string>
		<key>occurrenceCountEQ</key>
		<string>occurrenceCountEQ</string>
		<key>entityVersionHashesByName</key>
		<string>entityVersionHashesByName</string>
		<key>dlocalNormal</key>
		<string>dlocalNormal</string>
		<key>mringRadius</key>
		<string>mringRadius</string>
		<key>deviceMotionActive</key>
		<string>deviceMotionActive</string>
		<key>modelTransform</key>
		<string>modelTransform</string>
		<key>iupdatedProperties</key>
		<string>iupdatedProperties</string>
		<key>ForwardImplementors</key>
		<string>ForwardImplementors</string>
		<key>rebuildauthenticationToken</key>
		<string>rebuildauthenticationToken</string>
		<key>YearWithoptions</key>
		<string>YearWithoptions</string>
		<key>formatVersion</key>
		<string>formatVersion</string>
		<key>alternateLayoutU</key>
		<string>alternateLayoutU</string>
		<key>SequenceTask</key>
		<string>SequenceTask</string>
		<key>operatingSystemVersionStringY</key>
		<string>operatingSystemVersionStringY</string>
		<key>gameModelMG</key>
		<string>gameModelMG</string>
		<key>advisoryNoticesm</key>
		<string>advisoryNoticesm</string>
		<key>proximityJS</key>
		<string>proximityJS</string>
		<key>PrepareMatch</key>
		<string>PrepareMatch</string>
		<key>objectIDX</key>
		<string>objectIDX</string>
		<key>RecommendRequestfor</key>
		<string>RecommendRequestfor</string>
		<key>BackSecond</key>
		<string>BackSecond</string>
		<key>DistinguishCompletionhandler</key>
		<string>DistinguishCompletionhandler</string>
		<key>occurrenceDatee</key>
		<string>occurrenceDatee</string>
		<key>lookupInfoVH</key>
		<string>lookupInfoVH</string>
		<key>reductionrelationshipKeyPathsForPrefetching</key>
		<string>reductionrelationshipKeyPathsForPrefetching</string>
		<key>eentitiesByName</key>
		<string>eentitiesByName</string>
		<key>InputShould</key>
		<string>InputShould</string>
		<key>ThinkTocaching</key>
		<string>ThinkTocaching</string>
		<key>wantsAdaptiveSubdivision</key>
		<string>wantsAdaptiveSubdivision</string>
		<key>systemSpawnedOnCollisionVT</key>
		<string>systemSpawnedOnCollisionVT</string>
		<key>pointerFunctionsl</key>
		<string>pointerFunctionsl</string>
		<key>agendaG</key>
		<string>agendaG</string>
		<key>programgroupingLevel</key>
		<string>programgroupingLevel</string>
		<key>ephemeralPublicKeyn</key>
		<string>ephemeralPublicKeyn</string>
		<key>txtRecordi</key>
		<string>txtRecordi</string>
		<key>redoActionNameB</key>
		<string>redoActionNameB</string>
		<key>bordercalculating</key>
		<string>bordercalculating</string>
		<key>CompatibleAvoid</key>
		<string>CompatibleAvoid</string>
		<key>fautomaticTarget</key>
		<string>fautomaticTarget</string>
		<key>localAddress</key>
		<string>localAddress</string>
		<key>ifileHandleWithNullDevice</key>
		<string>ifileHandleWithNullDevice</string>
		<key>verticalAccuracyXO</key>
		<string>verticalAccuracyXO</string>
		<key>useDNSServersIU</key>
		<string>useDNSServersIU</string>
		<key>AmericanAdjustsimage</key>
		<string>AmericanAdjustsimage</string>
		<key>DiscussOptions</key>
		<string>DiscussOptions</string>
		<key>notificationTypeCY</key>
		<string>notificationTypeCY</string>
		<key>usesSceneTimeBasePV</key>
		<string>usesSceneTimeBasePV</string>
		<key>inhibitmaximumTwistAngle</key>
		<string>inhibitmaximumTwistAngle</string>
		<key>AssetCollectionB</key>
		<string>AssetCollectionB</string>
		<key>renderedContentURLTW</key>
		<string>renderedContentURLTW</string>
		<key>advertisingIdentifierWS</key>
		<string>advertisingIdentifierWS</string>
		<key>txtRecord</key>
		<string>txtRecord</string>
		<key>BoardProtocolclientapi</key>
		<string>BoardProtocolclientapi</string>
		<key>EffectNscachedurl</key>
		<string>EffectNscachedurl</string>
		<key>ExtremelyWhenever</key>
		<string>ExtremelyWhenever</string>
		<key>primaryAccountNumberSuffixCC</key>
		<string>primaryAccountNumberSuffixCC</string>
		<key>squareSizeJX</key>
		<string>squareSizeJX</string>
		<key>shutJSValueRef</key>
		<string>shutJSValueRef</string>
		<key>ReadilyIncreasesize</key>
		<string>ReadilyIncreasesize</string>
		<key>gyroAvailable</key>
		<string>gyroAvailable</string>
		<key>courseEN</key>
		<string>courseEN</string>
		<key>hpositiveSuffix</key>
		<string>hpositiveSuffix</string>
		<key>graphs</key>
		<string>graphs</string>
		<key>JSValueRef</key>
		<string>JSValueRef</string>
		<key>symbologys</key>
		<string>symbologys</string>
		<key>separatelynotice</key>
		<string>separatelynotice</string>
		<key>accelerometerUpdateIntervalUI</key>
		<string>accelerometerUpdateIntervalUI</string>
		<key>ejectattendees</key>
		<string>ejectattendees</string>
		<key>sumwrappedKey</key>
		<string>sumwrappedKey</string>
		<key>connectedPathTJ</key>
		<string>connectedPathTJ</string>
		<key>optionsByRecordZoneIDSY</key>
		<string>optionsByRecordZoneIDSY</string>
		<key>dependshareURLs</key>
		<string>dependshareURLs</string>
		<key>typedaysOfTheYear</key>
		<string>typedaysOfTheYear</string>
		<key>publicCloudDatabaseNK</key>
		<string>publicCloudDatabaseNK</string>
		<key>StrikeShared</key>
		<string>StrikeShared</string>
		<key>hglyphText</key>
		<string>hglyphText</string>
		<key>xallowsCalendarPreview</key>
		<string>xallowsCalendarPreview</string>
		<key>deviceMotionTV</key>
		<string>deviceMotionTV</string>
		<key>qualityOfService</key>
		<string>qualityOfService</string>
		<key>envMode</key>
		<string>envMode</string>
		<key>summarypersistentStoreDescriptions</key>
		<string>summarypersistentStoreDescriptions</string>
		<key>shadowRadius</key>
		<string>shadowRadius</string>
		<key>maximumTwistAngleg</key>
		<string>maximumTwistAngleg</string>
		<key>sharedCredentialStorageET</key>
		<string>sharedCredentialStorageET</string>
		<key>hpaddingCharacter</key>
		<string>hpaddingCharacter</string>
		<key>lengthSegmentCountGK</key>
		<string>lengthSegmentCountGK</string>
		<key>redoMenuItemTitleNG</key>
		<string>redoMenuItemTitleNG</string>
		<key>agreeexpression</key>
		<string>agreeexpression</string>
		<key>ShipReceiver</key>
		<string>ShipReceiver</string>
		<key>KernelAsynchronous</key>
		<string>KernelAsynchronous</string>
		<key>canUndoZY</key>
		<string>canUndoZY</string>
		<key>PendingAspect</key>
		<string>PendingAspect</string>
		<key>dpinTintColor</key>
		<string>dpinTintColor</string>
		<key>hasActionsUC</key>
		<string>hasActionsUC</string>
		<key>sticker</key>
		<string>sticker</string>
		<key>wxFov</key>
		<string>wxFov</string>
		<key>hasAttendeesG</key>
		<string>hasAttendeesG</string>
		<key>markeranchorA</key>
		<string>markeranchorA</string>
		<key>publicCloudDatabase</key>
		<string>publicCloudDatabase</string>
		<key>developintentIdentifiers</key>
		<string>developintentIdentifiers</string>
		<key>attributedStringForZeroEU</key>
		<string>attributedStringForZeroEU</string>
		<key>SuggestionBegan</key>
		<string>SuggestionBegan</string>
		<key>keepenvMode</key>
		<string>keepenvMode</string>
		<key>ephemeralPublicKeyx</key>
		<string>ephemeralPublicKeyx</string>
		<key>columntlsClientCertificateRequired</key>
		<string>columntlsClientCertificateRequired</string>
		<key>hasAttendeesNW</key>
		<string>hasAttendeesNW</string>
		<key>overflowwantsExposureAdaptation</key>
		<string>overflowwantsExposureAdaptation</string>
		<key>warmupDuration</key>
		<string>warmupDuration</string>
		<key>contactIdentifiersLX</key>
		<string>contactIdentifiersLX</string>
		<key>qviewContext</key>
		<string>qviewContext</string>
		<key>subscriptionIDsk</key>
		<string>subscriptionIDsk</string>
		<key>RepresentImplementation</key>
		<string>RepresentImplementation</string>
		<key>BandRequest</key>
		<string>BandRequest</string>
		<key>parentContextVH</key>
		<string>parentContextVH</string>
		<key>resultparticleBounceVariation</key>
		<string>resultparticleBounceVariation</string>
		<key>gchangedObjectID</key>
		<string>gchangedObjectID</string>
		<key>minimumWDModelConsumeshuijing</key>
<string>minimumWDModelConsumeshuijing</string>
<key>minimumWDModelConsumegold</key>
<string>minimumWDModelConsumegold</string>
<key>imageSequenceRowCountFC</key>
<string>imageSequenceRowCountFC</string>
<key>oceanEI</key>
<string>oceanEI</string>
<key>speechincludeAllBurstAssets</key>
<string>speechincludeAllBurstAssets</string>
<key>ResideLocalizedrecovery</key>
<string>ResideLocalizedrecovery</string>
<key>canReplaceMapContentED</key>
<string>canReplaceMapContentED</string>
<key>minimumWDModelATK</key>
<string>minimumWDModelATK</string>
<key>sessioncalculating</key>
<string>sessioncalculating</string>
<key>pricereflectionResolutionScaleFactor</key>
<string>pricereflectionResolutionScaleFactor</string>
<key>minimumWDModelLV</key>
<string>minimumWDModelLV</string>
<key>textAttributesForNegativeInfinityNR</key>
<string>textAttributesForNegativeInfinityNR</string>
<key>cursorC</key>
<string>cursorC</string>
<key>currentContentSizeIdentifierWY</key>
<string>currentContentSizeIdentifierWY</string>
<key>AmpersandKeywindow</key>
<string>AmpersandKeywindow</string>
<key>calendarsi</key>
<string>calendarsi</string>
<key>hasNotesKV</key>
<string>hasNotesKV</string>
<key>cconnectedPath</key>
<string>cconnectedPath</string>
<key>sourceObject</key>
<string>sourceObject</string>
<key>HelpfulDifferentwithlocalizations</key>
<string>HelpfulDifferentwithlocalizations</string>
<key>NecessarilyNsurlsessiontask</key>
<string>NecessarilyNsurlsessiontask</string>
<key>ForegroundShouldwithnot</key>
<string>ForegroundShouldwithnot</string>
<key>GKBoxWJ</key>
<string>GKBoxWJ</string>
<key>configurationgroup</key>
<string>configurationgroup</string>
<key>participantPermissionEM</key>
<string>participantPermissionEM</string>
<key>overlaySKSceneD</key>
<string>overlaySKSceneD</string>
<key>nodeBs</key>
<string>nodeBs</string>
<key>alphabetautoreverses</key>
<string>alphabetautoreverses</string>
<key>SchemeSetcolor</key>
<string>SchemeSetcolor</string>
<key>eoverlay</key>
<string>eoverlay</string>
<key>incrementalIY</key>
<string>incrementalIY</string>
<key>glyphTintColorZS</key>
<string>glyphTintColorZS</string>
<key>mpolygon</key>
<string>mpolygon</string>
<key>positiveSuffixF</key>
<string>positiveSuffixF</string>
<key>stringByDeletingLastPathComponentAE</key>
<string>stringByDeletingLastPathComponentAE</string>
<key>wantsDepthOfFieldz</key>
<string>wantsDepthOfFieldz</string>
<key>hnotifyOnEntry</key>
<string>hnotifyOnEntry</string>
<key>includesPropertyValuesCE</key>
<string>includesPropertyValuesCE</string>
<key>reflectfailureResponse</key>
<string>reflectfailureResponse</string>
<key>digitalusesDefaultMomentOfInertia</key>
<string>digitalusesDefaultMomentOfInertia</string>
<key>mapItemQW</key>
<string>mapItemQW</string>
<key>mapItem</key>
<string>mapItem</string>
<key>displacement</key>
<string>displacement</string>
<key>minimumWD</key>
<string>minimumWD</string>
<key>animationTimingFunctionM</key>
<string>animationTimingFunctionM</string>
<key>pointtlsClientCertificateRequired</key>
<string>pointtlsClientCertificateRequired</string>
<key>isubtitleLocalizationArgs</key>
<string>isubtitleLocalizationArgs</string>
<key>tmaximumDatagramLength</key>
<string>tmaximumDatagramLength</string>
<key>fetchBatchSizeb</key>
<string>fetchBatchSizeb</string>
<key>destinationEntityNameHH</key>
<string>destinationEntityNameHH</string>
<key>SmallTasknsurl</key>
<string>SmallTasknsurl</string>
<key>elementadType</key>
<string>elementadType</string>
<key>IndividuallyNsfileread</key>
<string>IndividuallyNsfileread</string>
<key>wrapS</key>
<string>wrapS</string>
<key>showsBackgroundLocationIndicatorLL</key>
<string>showsBackgroundLocationIndicatorLL</string>
<key>nmethodSignature</key>
<string>nmethodSignature</string>
<key>underjitteringEnabled</key>
<string>underjitteringEnabled</string>
<key>mGKBox</key>
<string>mGKBox</string>
<key>SolelyOn</key>
<string>SolelyOn</string>
<key>localizedFailureReasonHD</key>
<string>localizedFailureReasonHD</string>
<key>ReduceRather</key>
<string>ReduceRather</string>
<key>kcalculating</key>
<string>kcalculating</string>
<key>nupdatedProperties</key>
<string>nupdatedProperties</string>
<key>ISOcountryCodeJK</key>
<string>ISOcountryCodeJK</string>
<key>LogarithmProvider</key>
<string>LogarithmProvider</string>
<key>bannerLoadedJL</key>
<string>bannerLoadedJL</string>
<key>bytesPerIndex</key>
<string>bytesPerIndex</string>
<key>textAttributesForNilt</key>
<string>textAttributesForNilt</string>
<key>appropriatevalidDate</key>
<string>appropriatevalidDate</string>
<key>handimageSubtitle</key>
<string>handimageSubtitle</string>
<key>momentOfInertia</key>
<string>momentOfInertia</string>
<key>trimautoupdatingCurrentCalendar</key>
<string>trimautoupdatingCurrentCalendar</string>
<key>registeredStoreTypesA</key>
<string>registeredStoreTypesA</string>
<key>rdaysOfTheWeek</key>
<string>rdaysOfTheWeek</string>
<key>registeredObjectsDL</key>
<string>registeredObjectsDL</string>
<key>hashHJ</key>
<string>hashHJ</string>
<key>photoTimec</key>
<string>photoTimec</string>
<key>xFov</key>
<string>xFov</string>
<key>animationDidStart</key>
<string>animationDidStart</string>
<key>fanimatesDrop</key>
<string>fanimatesDrop</string>
<key>encryptionSchemePJ</key>
<string>encryptionSchemePJ</string>
<key>rparticleMassVariation</key>
<string>rparticleMassVariation</string>
<key>cpinTintColor</key>
<string>cpinTintColor</string>
<key>colorFringeIntensityRV</key>
<string>colorFringeIntensityRV</string>
<key>isUndefined</key>
<string>isUndefined</string>
<key>horizontalAccuracyE</key>
<string>horizontalAccuracyE</string>
<key>focalDistancef</key>
<string>focalDistancef</string>
<key>sinnerRadius</key>
<string>sinnerRadius</string>
<key>usesDefaultMomentOfInertiaI</key>
<string>usesDefaultMomentOfInertiaI</string>
<key>cadvertisingIdentifier</key>
<string>cadvertisingIdentifier</string>
<key>cachemoreComing</key>
<string>cachemoreComing</string>
<key>destinationSubnetMaskBQ</key>
<string>destinationSubnetMaskBQ</string>
<key>indicatefinalResult</key>
<string>indicatefinalResult</string>
<key>groupingAttributesXV</key>
<string>groupingAttributesXV</string>
<key>numberOfStepsb</key>
<string>numberOfStepsb</string>
<key>transitBalanceCurrencyCodeV</key>
<string>transitBalanceCurrencyCodeV</string>
<key>qnoseCrest</key>
<string>qnoseCrest</string>
<key>OperateInstanceasthe</key>
<string>OperateInstanceasthe</string>
<key>symbologyOK</key>
<string>symbologyOK</string>
<key>TraverseExact</key>
<string>TraverseExact</string>
<key>expectedArrivalDateIV</key>
<string>expectedArrivalDateIV</string>
<key>AnalystPartwithof</key>
<string>AnalystPartwithof</string>
<key>LotLandsingle</key>
<string>LotLandsingle</string>
<key>weekautomaticallyMergesChangesFromParent</key>
<string>weekautomaticallyMergesChangesFromParent</string>
<key>debugOptionsZM</key>
<string>debugOptionsZM</string>
<key>assetLocalIdentifierNJ</key>
<string>assetLocalIdentifierNJ</string>
<key>mminimumHorizontalAngle</key>
<string>mminimumHorizontalAngle</string>
<key>radiusNJ</key>
<string>radiusNJ</string>
<key>precomposedStringWithCanonicalMappingk</key>
<string>precomposedStringWithCanonicalMappingk</string>
<key>hasAlarmsUM</key>
<string>hasAlarmsUM</string>
<key>canDisplayBannerAdsIM</key>
<string>canDisplayBannerAdsIM</string>
<key>stoppedQG</key>
<string>stoppedQG</string>
<key>spotCutoffPJ</key>
<string>spotCutoffPJ</string>
<key>worldSpaceDistanceb</key>
<string>worldSpaceDistanceb</string>
	</dict>
	<key>changeClass</key>
	<dict>
		<key>ButtonExactShowCanresign</key>
		<string>ButtonExactShowCanresign</string>
		<key>ComplicationRequestIntervalBusy</key>
		<string>ComplicationRequestIntervalBusy</string>
		<key>Social</key>
		<string>Social</string>
		<key>AddedRetrieveMotion</key>
		<string>AddedRetrieveMotion</string>
		<key>FactPressedLanguage</key>
		<string>FactPressedLanguage</string>
		<key>TraitsTodayBrowsePressed</key>
		<string>TraitsTodayBrowsePressed</string>
		<key>WindowCounter</key>
		<string>WindowCounter</string>
		<key>ReleasesReorganizationClass</key>
		<string>ReleasesReorganizationClass</string>
		<key>StatusPriceObsolete</key>
		<string>StatusPriceObsolete</string>
		<key>ViewScatterPersonalErrorwithmessage</key>
		<string>ViewScatterPersonalErrorwithmessage</string>
		<key>Want</key>
		<string>Want</string>
		<key>ArrayCurrently</key>
		<string>ArrayCurrently</string>
	<key>SortedSlowlyArgumentSee</key>
<string>SortedSlowlyArgumentSee</string>
<key>PermissionExclamationSuppose</key>
<string>PermissionExclamationSuppose</string>
<key>ContactDirectlySwitch</key>
<string>ContactDirectlySwitch</string>
<key>DuplicateSubgroupMarginUnit</key>
<string>DuplicateSubgroupMarginUnit</string>
<key>PresentExtractThinkCut</key>
<string>PresentExtractThinkCut</string>
<key>ReadMany</key>
<string>ReadMany</string>
<key>TextFieldFigureWrapRequire</key>
<string>TextFieldFigureWrapRequire</string>
<key>NamesFilenameDown</key>
<string>NamesFilenameDown</string>
<key>OnCompactRestricted</key>
<string>OnCompactRestricted</string>
<key>RelatedReservedReference</key>
<string>RelatedReservedReference</string>
<key>Vital</key>
<string>Vital</string>
<key>DictionaryFinallyMultiselection</key>
<string>DictionaryFinallyMultiselection</string>
<key>Bracket</key>
<string>Bracket</string>
<key>UsuallyUnableModel</key>
<string>UsuallyUnableModel</string>
<key>InPersonalModel</key>
<string>InPersonalModel</string>
<key>cls_radiusNJNode</key>
<string>cls_radiusNJNode</string>
<key>GivenrequestPrepareCollection</key>
<string>GivenrequestPrepareCollection</string>
<key>ShouldEjectResource</key>
<string>ShouldEjectResource</string>
<key>StandUserinfo</key>
<string>StandUserinfo</string>
<key>FileNetworkHost</key>
<string>FileNetworkHost</string>
<key>PresentPermanently</key>
<string>PresentPermanently</string>
<key>RatherRedrawControl</key>
<string>RatherRedrawControl</string>
<key>RequestwithequalityOccupyContacts</key>
<string>RequestwithequalityOccupyContacts</string>
<key>Spell</key>
<string>Spell</string>
	</dict>
</dict>
</plist>
